name: Publish site

on:
  push:
    branches:
      - main
    tags:
      - v*
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy docs to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Setup Python
        uses: actions/setup-python@v5
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup mkdocs
        run: pip install mkdocs && pip install $(mkdocs get-deps) && pip install mkdocs-material
      - name: Setup mike
        run: pip install mike
      - name: Setup graphviz
        run: sudo apt install graphviz
      - name: Start PlantUML server
        run: sh/setup-plantuml.sh
      - name: Build
        run: PLANTUML_URL=http://localhost:8080/ sh/push-docs.sh
